body{
	margin: 0em;
}

h1, p{
	color: white;
	margin: 0px;
}

h1{
	font-size: 45px;
	color: #00ff80;
	
}

header{ 
	width: 100%;
	height: 120px;
	background: rgba(0, 0, 0, 0.75);
	border-bottom: 2px solid white; 
	margin-bottom: 40px;
}

header a{
	text-decoration: none;
}

header input{
	margin: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	width: 110px;
	height: 30px;
}

input{
	padding: 2px;
}

header a input{
	border: 1px solid #00ff80;
	background: black;
	color: #00ff80;
}

.Bloco{
	border: 2px solid white;
	border-radius: 20px;
	padding: 30px;
	margin: auto;
	width: 50%;
	height: 520px;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 3px 5px 10px #00ff80;
	margin-bottom: 30px;
}

.Bloco input[type="text"], .Bloco input[type="password"]{
	height: 25px;
	margin-top: 4px;
}

.Bloco input[type="submit"]{
	height: 30px;
	font-size: 13px;
}

.Bloco input, .Bloco textarea{
	border: 1.3px solid #00ff80;
	border-radius: 5px;
	width: 50%;
	background: rgba(0, 0, 0, 0.75);
	color: white;
}

.Bloco h1, .Bloco p{
	color: white;
}

.Bloco input{
	width: 50%;
}

.Bloco p{
	margin-top: 40px;
}
